html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f5f8ff;
  background-color: #17171a;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-bottom: 40px;
}

.header__inner {
  width: 100%;
  padding: 54px 45px 54px 90px;
  background-color: #212125;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  display: flex;
}

.header__image {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  margin-right: 30px;
}

.header__info {
  max-width: 175px;
}

.header__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 10px;
}

.header__subtitle {
  font-weight: 600;
  color: #ffbfbf;
}

.header__right {
  display: flex;
}

.contacts-heading {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  list-style: none;
}

.contacts-heading__item:not(:last-child),
.contacts-info__item:not(:last-child) {
  margin-bottom: 4px;
}

.contacts-heading__text {
  color: #c2c2c2;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.contacts-info__link {
  font-weight: 600;
  transition: color 0.5s ease-in-out;
}

.contacts-info__link:hover {
  color: #ffbfbf;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212125;
  border-radius: 24px;
  padding: 14px 49px;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out;
}

.menu__link:hover {
  color: #ffbfbf;
}

.main {
  max-width: 700px;
  margin: 0 auto;
}

.about-me,
.skills,
.code-example,
.projects,
.experience,
.education,
.languages {
  padding: 20px 40px;
  background-color: #212125;
  border-radius: 24px;
  margin-bottom: 40px;
}

.about-me__title,
.skills__title,
.code-example__title,
.projects__title,
.experience__title,
.education__title,
.languages__title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
}

.skills__list {
  max-width: 400px;
  list-style: none;
  columns: 2;
  column-fill: auto;
}

.skills__item {
  display: flex;
  position: relative;
  padding-left: 25px;
}

.skills__item:before {
  content: "#";
  position: absolute;
  left: 0px;
}

.projects__link {
  transition: color 0.5s ease-in-out;
}

.projects__link:hover {
  color: #ffbfbf;
}

.experience__list {
  list-style: none;
}

.experience__item:not(:last-child) {
  margin-bottom: 15px;
}

.education__list {
  list-style: none;
  max-width: 557px;
}

.education__item:not(:last-child) {
  margin-bottom: 25px;
}

.languages__list {
  padding-left: 20px;
}

.languages__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  padding: 40px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f8ff;
  border-radius: 24px;
}

.footer__info {
  color: #17171a;
}

.footer__info a {
  transition: color 0.5s ease-in-out;
}

.footer__info a:hover {
  color: #ffbfbf;
}

.footer__logo {
  width: 120px;
}
